.search-bar {
  position: relative;
}
.search-bar_heading {
  color: white;
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.search-bar_input {
  display: inline-block;
  width: 100%;
  padding: 15px 20px;
  background-color: black;
  border-bottom: 2px solid #ff0040;
  color: white;
  margin-bottom: 30px;
}

.search-bar_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.search-bar_title-btn {
  margin-right: 20px;
  margin-left: 20px;
}

.search-bar_categories {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.btn-active {
  background: #ff0040;
}

.search-bar_search-btn {
  display: block;
  font-size: 18px;
  padding: 13px 70px;
  background-color: #ff0040;
}
.search-bar_search-btn:hover {
  background-color: rgb(64, 82, 82);
}

.search-bar_search-btn:visited,
.search-bar_search-btn:focus {
  background-color: #ff0040;
}
.search-bar_search-btn:hover {
  background-color: rgb(64, 82, 82);
}
