$global-font-size: 1.6rem;
$global-font-family: 'Mulish',
sans-serif;
$global-font-weight: 400;

$color-white: #ffffff;
$color-grey: #f3f7ff;
$color-primary: #1968fc;

$color-text-dark: #000000;
$color-text-light: $color-white;

$color-text-global: #11223f;
$color-text-primary: $color-primary;

$bg-color-light: $color-white;
$bg-color-light-secondary: #fbfbfb;
$bg-color-primary:$color-primary;