@font-face {
  font-family: "muliregular";
  src: url("../fonts/muli-webfont.woff2") format("woff2"), url("../fonts/muli-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "mulisemibold";
  src: url("../fonts/muli-semibold-webfont.woff2") format("woff2"), url("../fonts/muli-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("../img/background.png") 0 0;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.wrapper {
  max-width: 1440px;
  min-width: 300px;
  padding: 0 10%;
}
.wrapperCalling {
  background: url("../img/imgBlue.png") 100% center no-repeat #1968fc;
}
.wrapperContactUs {
  padding-right: 0;
}
.wrapperHero {
  background: url("../img/bg_img.png") 100% -10% no-repeat;
}

.header {
  min-height: 110px;
  margin: 0 auto;
  padding: 30px 0 120px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 180px;
  height: 50px;
}
.logo a {
  display: block;
  width: 180px;
  height: 50px;
}

.button, .contactUsButton, .callingButton {
  height: 50px;
  padding: 0 40px;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  border: none;
  outline: none;
  box-shadow: 0 10px 40px 0 rgba(25, 104, 252, 0.3);
  text-shadow: 0 10px 40px rgba(25, 104, 252, 0.2);
  font-family: "mulisemibold", Helvetica, sans-serif;
  background-color: #1968fc;
  color: #ffffff;
}

.menu {
  min-height: 50px;
  margin-left: auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menuLink {
  display: block;
  padding: 0 20px;
  font-family: "mulisemibold", Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #000000;
}

.hero {
  margin: 0 auto;
  padding-bottom: 80px;
}
.heroTitle, .heroTitleMobile {
  margin-bottom: 30px;
  font-family: "mulisemibold", Helvetica, sans-serif;
  font-size: 2.5em;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #11223f;
}
.heroText, .heroTextMobile {
  margin-bottom: 30px;
  font-size: 1.25em;
  line-height: 2;
  color: #11223f;
  font-family: "muliregular", Helvetica, sans-serif;
}

.onlyMobile {
  display: none;
}

.testimonial {
  margin: 0 auto;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
}
.testimonialCard {
  padding: 40px;
  box-shadow: 0 20px 60px 0 rgba(25, 104, 252, 0.1);
  background: #ffffff url("../img/quote.png") 90% 16% no-repeat;
  flex: 1;
}
.testimonialCard:first-child {
  margin-right: 50px;
}
.testimonialCardImgBlock {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 40px;
}
.testimonialCardPerson {
  margin-left: 20px;
  line-height: 2;
}
.testimonialCardName {
  font-family: "mulisemibold", Arial, sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #11223f;
}
.testimonialCardPosition {
  opacity: 0.8;
  font-family: "mulisemibold", Arial, sans-serif;
  font-size: 14px;
  color: #1967fa;
}
.testimonialCardText {
  line-height: 1.88;
  font-family: "muliregular", Helvetica, sans-serif;
  font-size: 16px;
  color: #11223f;
}

.line, .contactUsTitle::after, .callingTitle::after, h2::after {
  display: table;
  content: "";
  height: 2px;
  position: absolute;
  left: 0;
  top: 100%;
}

h2 {
  margin-bottom: 40px;
  font-family: "muliregular", Helvetica, sans-serif;
  font-size: 30px;
  line-height: 2;
  color: #11223f;
  position: relative;
}
h2::after {
  width: 80px;
  margin-top: 8px;
  margin-left: -40px;
  background: #1968fc;
  box-shadow: 0 2px 0 0 #d1e1fe;
}

.features {
  margin: 0 auto;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
}
.featuresCard {
  margin-right: 40px;
  background-color: #ffffff;
  box-shadow: 0 20px 60px 0 rgba(49, 69, 244, 0.1);
  position: relative;
  flex: 1;
}
.featuresCard:nth-child(2) {
  top: 40px;
}
.featuresCard:nth-child(3) {
  top: 80px;
}
.featuresCard:last-child {
  margin: 0;
}
.featuresCardImgBlock {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #f3f7ff;
}
.featuresCardName, .featuresCardNameMobile {
  padding: 20px;
  font-family: "mulisemibold", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: #11223f;
}
.featuresCardText {
  padding: 30px 40px;
  font-family: "muliregular", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.88;
  color: #11223f;
}

.whoFor {
  margin: 0 auto;
  padding-bottom: 60px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
}
.whoForCard {
  width: calc(33% - 20px);
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 20px 60px 0 rgba(49, 69, 244, 0.1);
  background-color: #ffffff;
}
.whoForCardTitle {
  margin-bottom: 20px;
  font-family: "mulisemibold", Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 2;
  color: #1967fa;
}
.whoForCardText {
  font-size: 16px;
  font-family: "muliregular", Helvetica, sans-serif;
  line-height: 1.88;
  color: #11223f;
}

.activity {
  margin: 0 auto;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.activityCard {
  width: calc(50% - 20px);
  min-height: 80px;
  margin: 0 40px 40px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffffff;
  box-shadow: 0 20px 60px 0 rgba(49, 69, 244, 0.1);
}
.activityCard:nth-child(2), .activityCard:nth-child(4) {
  margin: 0 0 40px 0;
}
.activityCardText {
  padding: 15px;
  font-family: "mulisemibold", Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
}

.calling {
  margin: 0 auto;
  padding-bottom: 80px;
}
.callingTitle {
  margin: 0 0 40px 0;
  font-family: "muliregular", Helvetica, sans-serif;
  font-size: 30px;
  line-height: 2;
  color: #ffffff;
}
.callingTitle::after {
  width: 80px;
  margin-top: 8px;
  margin-left: -40px;
  background: #ffffff;
  box-shadow: 0 2px 0 0 #6a9eff;
}
.callingText {
  margin-bottom: 40px;
  font-family: "muliregular", Helvetica, sans-serif;
  font-size: 20px;
  line-height: 2;
  color: #ffffff;
}
.callingButton {
  color: #1968fc;
  background-color: #ffffff;
  box-shadow: 4px 4px 20px 0 rgba(255, 255, 255, 0.4);
}

.contactUs {
  margin: 0 auto;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  background-color: #f5f8ff;
}
.contactUsTitle {
  margin: 0 0 40px 0;
  font-family: Helvetica, sans-serif;
}
.contactUsTitle::after {
  width: 50px;
  margin-top: 8px;
  margin-left: -25px;
  background: #1968fc;
  box-shadow: 0 2px 0 0 #d1e1fe;
}
.contactUsFormBlock {
  width: 55%;
  padding: 120px 60px 20px 0;
}
.contactUsForm {
  padding-left: 60px;
}
.contactUsFormInput, .contactUsFormTextarea {
  width: 100%;
  height: 52px;
  margin-bottom: 40px;
  border: none;
  outline: none;
  line-height: 2;
  background-color: #f6f9fc;
  border-bottom: 2px solid #1968fc;
}
.contactUsFormInput::placeholder, .contactUsFormTextarea::placeholder {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.53px;
  color: #141720;
}
.contactUsFormTextarea {
  height: 120px;
}
.contactUsButton {
  width: 60%;
  margin-left: 40%;
  font-family: Helvetica, sans-serif;
  box-shadow: 4px 4px 20px 0 rgba(255, 255, 255, 0.4);
}
.contactUsMapBlock {
  width: 45%;
  height: auto;
}

.footer {
  height: 130px;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fbfbfb;
}
.footerLogo {
  width: 200px;
  height: 50px;
  margin-right: 40px;
}
.footerLogo a {
  display: block;
  width: 200px;
  height: 50px;
}
.footerMenu {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footerMenuLink {
  display: block;
  min-height: 50px;
  padding: 20px;
  font-family: "mulisemibold", Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  color: #000000;
}
.footerSocialBlock {
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footerSocialBlockLink {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 60px;
}

/*RESPONSIVE DESIGN  */
@media screen and (max-width: 800px) {
  body {
    background: url("../img/backgroundMobile.png") 0 0;
  }

  .menu, .headerButton, .heroTitle, .heroButton,
.heroText, .featuresCardName, .whoForTitle, .callingText,
.wrapperFooter, .footer {
    display: none;
  }

  .wrapperImage, .wrapperBlue, .wrapperContactUsFormBlock,
.wrapperContactUsMapBlock, .wrapperFooterMobile {
    display: block;
  }

  .header {
    padding: 30px 0 60px 0;
  }

  .wrapperHero {
    background: none;
  }

  .hero {
    padding-bottom: 60px;
    background-image: none;
  }
  .heroTitleMobile {
    margin-bottom: 20px;
    display: block;
    font-size: 2.5em;
  }
  .heroTextMobile {
    display: block;
    font-size: 1.25em;
  }
  .heroButtonMobile {
    display: block;
  }

  .wrapperImage {
    padding: 0 20px;
  }

  .imageSectionMobile {
    display: block;
    min-height: 418px;
    margin: 0 auto;
    padding-bottom: 60px;
    background: url("../img/bg_img.png") center 0 no-repeat;
  }

  .wrapperBlue, .wrapperCalling {
    background: #1968fc;
  }

  .blueSectionMobile {
    display: block;
    min-height: 180px;
    margin-bottom: 60px;
    font-family: "mulisemibold", Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }

  .blueSectionTitle {
    margin: 0 auto;
    padding: 60px 0;
  }

  .testimonial {
    flex-direction: column;
    margin-bottom: 0;
    padding-bottom: 60px;
  }
  .testimonialCard {
    margin-bottom: 50px;
    padding: 40px 30px;
  }
  .testimonialCard:first-child {
    margin-right: 0;
  }

  h2::after {
    margin-left: 0;
  }

  .features {
    flex-direction: column;
  }
  .featuresCard {
    margin-right: 0;
    margin-bottom: 55px;
  }
  .featuresCard:nth-child(2), .featuresCard:nth-child(3) {
    top: 0;
  }
  .featuresCardImg {
    width: 80px;
    height: 80px;
  }
  .featuresCard:first-child::after, .featuresCard:nth-child(2)::after {
    display: table;
    content: "";
    width: 1px;
    height: 60px;
    position: absolute;
    left: 0;
    top: 100%;
    margin-left: 60px;
    border-left: dotted 2px #1968fc;
  }
  .featuresNameMobile {
    display: block;
    padding: 20px;
    font-family: "mulisemibold", Arial, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    color: #11223f;
  }

  .whoFor {
    padding-bottom: 60px;
  }
  .whoForTitleMobile {
    display: block;
  }
  .whoForCard {
    width: calc(50% - 10px);
  }
  .whoForCardTitle {
    line-height: 1.5;
  }
  .whoForCardText {
    line-height: 1.2;
  }

  .activitySection {
    padding-bottom: 60px;
    flex-direction: column;
  }

  .activityCard {
    width: 100%;
    margin: 0 0 40px 0;
  }

  .calling {
    padding-bottom: 60px;
    background: #1968fc;
  }
  .callingTextMobile {
    display: block;
    margin-bottom: 40px;
    font-family: "muliregular", Helvetica, sans-serif;
    font-size: 20px;
    line-height: 2;
    color: #ffffff;
  }
  .callingTitle::after {
    margin-left: 0;
  }

  .wrapperContactUs {
    padding: 0;
  }
  .wrapperContactUsFormBlock {
    padding-left: 10%;
  }

  .contactUs {
    flex-direction: column;
    padding: 0;
  }
  .contactUsTitle::after {
    width: 80px;
    margin-left: 0px;
  }
  .contactUsFormBlock {
    width: 100%;
    padding-bottom: 60px;
    padding-left: calc();
  }
  .contactUsForm {
    padding-left: 60px;
  }
  .contactUsMapBlock {
    width: 100%;
  }

  .footerMobile {
    display: block;
    padding: 30px 0;
  }

  .footerMobileTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footerMobileBottom {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footerMenuLink {
    padding: 0 20px;
  }

  .footerImage {
    position: relative;
    top: 40px;
    left: 30px;
  }
}