.wrapper {
  background: url("../../imgs/2.jpg") center center, rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
}
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.flex-wrapper {
  display: flex;
}
