
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html, body, .root {
  height: 100%;
}
html {  
  font-size: 16px;
  color: rgb(66, 72, 85); 
}

body {
  box-sizing: border-box;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.section-dark {
  color: #ffffff;
  padding-top: 100px;
  padding-bottom: 70px;
  background-image:linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(https://images.squarespace-cdn.com/content/v1/52d6d1ede4b0b322e9c7a2ea/1577130333179-YK5EG5894K4WZ0M9C0AD/ke17ZwdGBToddI8pDm48kA47qaxzGU3oa60Mv3IrElh7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0hGaawTDWlunVGEFKwsEdnE_ZbuhWuTjDl9Hn0Vaidb23CyzgPgNZ_l0zINYXrCLdg/imgur.jpg?format=2500w);
  background-size: cover;
}

.section-dark-title {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-top: 61px;
}

.logo {
  color: #f92b5b;
  font-size: 20px;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: rgb(20, 25, 35);
}

.hidden {
  display: none;
}
