.header {
  display: flex;
  margin-bottom: 80px;
  padding-top: 30px;
  padding-bottom: 30px;
  &__btn {
    display: none;
    width: auto;   
  }

  &__nav {
    display: none;
    text-align: right;
  }
}

@media (min-width: 960px) {
  .header {
    margin-bottom: 100px;
    &__btn {
      display: block;
    }

    &__nav {
      display: block;
    }
  }
}