.header {
  display: flex;
  padding: 30px 0;

  &__btn {
    display: none;
    width: auto;
    padding: 0 30px;
  }

  &__nav {
    display: none;
    text-align: right;
  }
}

@media (min-width: 960px) {
  .header {
    &__btn {
      display: block;
    }

    &__nav {
      display: block;
    }
  }
}