.movie-search-result {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  margin-bottom: 50px;
}

.movie-list-message {
  font-size: 50px;
  text-align: center;
  padding: 100px 0 200px 0;
}