* {
  text-decoration: none;
  outline: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button,
input[type="submit"] {
  cursor: pointer;
}
input,
button {
  border: none;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn {
  display: inline-block;
  padding: 7px 30px;
  border-radius: 2px;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  background: rgb(64, 82, 82);
  font-weight: 600;
}
