.movie-container {
  display: flex;
  flex: 1;
}
.movie-img {
  display: block;
  width: 40%;
  height: 500px;
  margin-right: 70px;
}
.movie-img img {
  width: 90%;
}

.movie-info {
  width: 60%;
  padding-top: 30px;
}
.movie-header {
  display: flex;
  align-items: center;
}
.movie-title {
  color: #ff0040;
  font-size: 42px;
  margin-right: 30px;
  font-weight: 700;
}

.movie-rating {
  color: darkseagreen;
  font-size: 28px;
  line-height: 58px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid darkseagreen;
  text-align: center;
}

.movie-tagline {
  display: block;
  color: #e0e0de;
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 400;
}

.movie-date,
.movie-runtime {
  font-size: 20px;
  color: whitesmoke;
  font-weight: 600;
}
.movie-date {
  margin-right: 40px;
}

.movie-overview {
  font-size: 20px;
  color: #e0e0de;
  margin-top: 40px;
}
