.movie-card {
  width: calc(33.3% - 80px / 3);
  position: relative;
  margin-bottom: 30px;
}
.movie-card_img {
  width: 100%;
  height: 350px;
  display: block;
  margin-bottom: 15px;
}
.movie-card_description {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.movie-card_title {
  line-height: 1.5;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
}
.movie-card_genre {
  color: gray;
  font-size: 14px;
}

.movie-card_year {
  display: block;
  font-size: 14px;
  padding: 2px 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

.has-margin {
  margin-right: 40px;
}
